<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <li class="nav-link" style=" margin-left: 500px; text-decoration: none;">
    <%= link_to 'Home', root_path, style: 'color: white;' %>
  </li>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" style="color: white;">Latest<span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: white;">About</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="nav-link" style="color: white;">Contact</a>
      </li>

    </ul>
      <% if user_signed_in? %>
   
        
          <%= link_to 'Dashboard', rails_admin_path, class: 'nav-link', style: 'color: white;'  %>
            <%= link_to 'Logout', destroy_user_session_path, class: 'nav-link', style: 'color: white;', method: :delete %>

     <%  else %>
        
          <%= link_to 'Signin', new_user_session_path, class: "nav-link", style: 'color: white;' %>
          
      <% end %>

  </div>
</nav>
